.header {
  background-image: linear-gradient(to bottom right, #1B1464, #6F1E51);
  color: #595959;
  margin-left: unset;
  margin-right: unset;
  position: relative;
  text-align: center;
  z-index: 1020;
}

header::after {
  height: var(--ds-space-050, 4px);
  position: absolute;
  top: 100%;
  right: 0px;
  left: 0px;
  background: linear-gradient(rgba(9, 30, 66, 0.23) 0px, rgba(9, 30, 66, 0.23) 1px, rgba(9, 30, 66, 0.18) 1px, rgba(9, 30, 66, 0) 4px);
  content: "";
}

.header-wrapper {
  padding: 10px;
  align-items: center;
  justify-content: center;
}

button:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
  opacity: 0.5;

  &:hover {
    background-color: #e0e0e0;
  }
}

.vr {
  border-left: 1px solid #e0e0e0;
  height: 100%;
  margin: 0 10px;
}

.diff {
  padding: 8px;
}
